### Import Libraries

In [1]:
import pandas as pd

### Import Dataset

In [2]:
df = pd.read_csv("financial_accounting.csv")
df.head()

,Date,Account,Description,Debit,Credit,Category,Transaction_Type,Customer_Vendor,Payment_Method,Reference
0,2023-08-21,Accounts Payable,Transaction 1,112.56,112.56,Asset,Sale,Customer 39,Cash,67471
1,2023-08-13,Accounts Receivable,Transaction 2,775.86,775.86,Revenue,Purchase,Customer 3,Check,92688
2,2023-05-11,Accounts Receivable,Transaction 3,332.81,332.81,Revenue,Transfer,Customer 36,Check,72066
3,2023-02-26,Accounts Receivable,Transaction 4,203.71,203.71,Asset,Purchase,Customer 57,Check,27973
4,2023-11-06,Accounts Receivable,Transaction 5,986.26,986.26,Asset,Expense,Customer 92,Check,29758

### Financial Accounting

**1. Calculate Total Debits and Credits**

In [3]:
debits = df["Debit"].sum()
credits = df["Credit"].sum()

print("Total Debit = $" + str("{:,}".format(debits.round(2))))
print("Total Credit = $" + str("{:,}".format(credits.round(2))))

Total Debit = $60,774,736.83
Total Credit = $60,774,736.83

**2. Calculate Account Balance "Cash"**

In [4]:
cash_transaction = df[df["Account"] == "Cash"]

cash_balance = cash_transaction["Debit"].sum() - cash_transaction["Credit"].sum()

print("Cash Account Balance = $" + str(cash_balance))

Cash Account Balance = $0.0

**3. Calculate Net Profit (Revenue - Expenses)**

In [5]:
# Filter Transactions
revenue_transaction = df[df["Category"] == "Revenue"]
expense_transaction = df[df["Category"] == "Expense"]

# Calculate Total Revenue & Expense
total_revenue = revenue_transaction["Credit"].sum()
total_expense = expense_transaction["Debit"].sum()

# Calculate Net Profit
net_profit = total_revenue - total_expense
print("Net Profit = $" + str("{:,}".format(net_profit.round(2))))

Net Profit = $104,451.02

**4. Find Transactions for a Specific Customer or Vendor**

In [6]:
specific_customer = df[df["Customer_Vendor"] == "Customer 46"]
specific_customer

,Date,Account,Description,Debit,Credit,Category,Transaction_Type,Customer_Vendor,Payment_Method,Reference
34,2023-02-28,Inventory,Transaction 35,376.11,376.11,Expense,Transfer,Customer 46,Check,25242
41,2023-11-15,Inventory,Transaction 42,975.01,975.01,Expense,Expense,Customer 46,Bank Transfer,92447
72,2023-07-03,Inventory,Transaction 73,683.34,683.34,Liability,Expense,Customer 46,Check,75672
132,2023-12-07,Accounts Receivable,Transaction 133,443.97,443.97,Revenue,Sale,Customer 46,Credit Card,46517
151,2023-02-26,Accounts Payable,Transaction 152,604.83,604.83,Liability,Sale,Customer 46,Credit Card,44713
...,...,...,...,...,...,...,...,...,...,...
99499,2023-10-21,Accounts Payable,Transaction 99500,852.12,852.12,Asset,Expense,Customer 46,Credit Card,51035
99619,2023-08-19,Accounts Payable,Transaction 99620,614.46,614.46,Liability,Expense,Customer 46,Cash,41025
99753,2023-12-07,Inventory,Transaction 99754,409.26,409.26,Liability,Expense,Customer 46,Check,17501
99765,2023-09-18,Accounts Receivable,Transaction 99766,750.20,750.20,Asset,Transfer,Customer 46,Credit Card,40712
99905,2023-05-17,Accounts Receivable,Transaction 99906,715.49,715.49,Expense,Expense,Customer 46,Credit Card,86122

**5. Calculate Total Transactions by Account**

In [7]:
transactions = df["Account"].value_counts().to_frame().reset_index()
transactions.columns = ["Account", "Transactions"]
transactions

               Account  Transactions
0     Accounts Payable         25104
1            Inventory         25054
2  Accounts Receivable         25038
3                 Cash         24804

**6. Find Transactions of a Specific Type**

In [8]:
sale_transaction = df[df["Transaction_Type"] == "Sale"]
sale_transaction

,Date,Account,Description,Debit,Credit,Category,Transaction_Type,Customer_Vendor,Payment_Method,Reference
0,2023-08-21,Accounts Payable,Transaction 1,112.56,112.56,Asset,Sale,Customer 39,Cash,67471
7,2023-06-09,Cash,Transaction 8,786.53,786.53,Expense,Sale,Customer 62,Credit Card,29821
10,2023-02-09,Accounts Payable,Transaction 11,888.61,888.61,Asset,Sale,Customer 4,Cash,85111
18,2023-11-09,Accounts Payable,Transaction 19,459.15,459.15,Liability,Sale,Customer 74,Cash,47895
19,2023-12-09,Accounts Receivable,Transaction 20,261.30,261.30,Asset,Sale,Customer 1,Bank Transfer,80975
...,...,...,...,...,...,...,...,...,...,...
99985,2023-08-19,Accounts Receivable,Transaction 99986,737.61,737.61,Revenue,Sale,Customer 98,Credit Card,28431
99989,2023-07-11,Accounts Payable,Transaction 99990,112.22,112.22,Expense,Sale,Customer 80,Cash,45652
99990,2023-02-10,Accounts Payable,Transaction 99991,818.43,818.43,Liability,Sale,Customer 6,Bank Transfer,71350
99994,2023-04-04,Inventory,Transaction 99995,758.17,758.17,Asset,Sale,Customer 55,Bank Transfer,87697
99996,2023-09-14,Accounts Payable,Transaction 99997,785.01,785.01,Liability,Sale,Customer 77,Credit Card,43646

**7. Calculate Average Transaction Amount**

In [9]:
average_debit = df["Debit"].mean()
average_credit = df["Credit"].mean()

print("Average Debit Amount = $" + str(average_debit.round(2)))
print("Average Credit Amount = $" + str(average_credit.round(2)))

Average Debit Amount = $607.75
Average Credit Amount = $607.75

**8. Find Largest Transaction Amount**

In [10]:
max_debit = df["Debit"].max()
max_credit = df["Credit"].max()

print("Largest Debit Amount = $" + str(max_debit))
print("Larget Credit Amount = $" + str(max_credit))

Largest Debit Amount = $999.99
Larget Credit Amount = $999.99

**9. Calculate Total Liabilities and Total Assets**

In [11]:
liability = df[df["Category"] == "Liability"]
asset = df[df["Category"] == "Asset"]

total_liabilities = liability["Credit"].sum() - liability["Debit"].sum()
total_assets = asset["Credit"].sum() - asset["Debit"].sum()

print("Total Liabilities = $", total_liabilities)
print("Total Assets = $", total_assets)

Total Liabilities = $ 0.0
Total Assets = $ 0.0

**10. Generate a Balance Sheet**

In [12]:
# Filter transactions for liabilities and assets
liability_transactions = df[df['Category'] == 'Liability']
asset_transactions = df[df['Category'] == 'Asset']

# Calculate total liabilities and assets
total_liabilities = liability_transactions['Credit'].sum() - liability_transactions['Debit'].sum()
total_assets = asset_transactions['Debit'].sum() - asset_transactions['Credit'].sum()

# Calculate equity (assuming it's the difference between assets and liabilities)
equity = total_assets - total_liabilities

# Create a simplified balance sheet
balance_sheet = pd.DataFrame({
    'Category': ['Assets', 'Liabilities', 'Equity'],
    'Amount': [total_assets, total_liabilities, equity]
})

balance_sheet

      Category  Amount
0       Assets     0.0
1  Liabilities     0.0
2       Equity     0.0

**11. Find the account with the highest total debit amount. Which account is it, and what is the total debit amount?**

In [13]:
account_debt = df.groupby("Account")["Debit"].agg("sum").sort_values(ascending = False).to_frame().reset_index()
account_debt

               Account        Debit
0            Inventory  15282657.25
1  Accounts Receivable  15272312.94
2     Accounts Payable  15152628.73
3                 Cash  15067137.91

In [14]:
print("The account", "'" + account_debt["Account"].iloc[0] + "'", "has highest debt", "= $" + str("{:,}".format(account_debt["Debit"].iloc[0])))

The account 'Inventory' has highest debt = $15,282,657.25

**12. Identify all the transactions where the transaction type is "Sale." How many sale transactions are there, and what is the total sales revenue?**

In [15]:
sale_transactions = df[df["Transaction_Type"] == "Sale"]
sale_transactions_revenue = sale_transactions["Credit"].sum()
print("Total Sale Transactions are =", len(sale_transactions), "and Total Sale Revenue =", "$" + str("{:,}".format(sale_transactions_revenue)))

Total Sale Transactions are = 25040 and Total Sale Revenue = $13,705,912.88

**13. Calculate the average debit and credit amounts for all transactions in the dataset. Are they approximately equal?**

In [16]:
avg_debit = df["Debit"].mean()
avg_credit = df["Credit"].mean()
print("Average Debit =", str("{:,}".format(avg_debit.round(2))), "and Average Credit =", str("{:,}".format(avg_credit.round(2))))

Average Debit = 607.75 and Average Credit = 607.75

**14. Find all the transactions that involve "Cash" as the payment method. How many transactions are there, and what is the total amount of cash involved**

In [17]:
cash_transactions = df[df["Payment_Method"] == "Cash"]
cash_transactions_amount = cash_transactions["Debit"].sum()

print("Total Cash Transactions are", len(cash_transactions), 
      "and Total Amount of Cash Involved", "$" + str("{:,}".format(cash_transactions_amount.round(2))))

Total Cash Transactions are 24949 and Total Amount of Cash Involved $15,147,309.99

**15. Calculate the average transaction amount for "Purchase" transactions. Compare it to the average transaction amount for "Sale" transactions.**

In [18]:
purchase_transactions = df[df["Transaction_Type"] == "Purchase"]
sale_transactions = df[df["Transaction_Type"] == "Sale"]

avg_purchase_amnt = purchase_transactions["Debit"].sum()
avg_sale_amnt = purchase_transactions["Credit"].sum()

print("Average Purchase Transaction Amount =", "$" + str("{:,}".format(avg_purchase_amnt.round(2))))
print("Average Sale Transaction Amount =", "$" + str("{:,}".format(avg_sale_amnt.round(2))))

Average Purchase Transaction Amount = $13,700,675.38
Average Sale Transaction Amount = $13,700,675.38

**16. Generate a summary of the dataset by grouping transactions based on the "Category" column (e.g., Expense, Revenue, Asset, Liability). Calculate the total debit and credit amounts for each category.**

In [19]:
summary = df.groupby("Category")[["Debit", "Credit"]].agg("sum").reset_index()
summary

    Category        Debit       Credit
0      Asset  15270030.86  15270030.86
1    Expense  15163910.14  15163910.14
2  Liability  15072434.67  15072434.67
3    Revenue  15268361.16  15268361.16